.categories-options{
    display: flex;
    justify-content: space-around;
    margin: auto;

}

.categories-options span{
    display: flex;
    align-items: center;
}

#recipe-ingredients{
    align-items: center;
    margin: 10px auto;
}

#recipe-ingredients span{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.btn{
    display: block;
    margin: 15px auto;
    padding: 5px;
    color: var(--darkest);
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px var(--shadow);
    transition-duration: 250ms;
}

.btn:hover{
    background-color: var(--darkest);
    color: white;
}

textarea{
    display: block;
    margin: 10px auto;
    padding: 10px;
}

.recipe-aside-list{
    display: flex;
    flex-direction: column;
}

.recipe-aside-list input{
    display: block;
    max-width: 300px;
    margin: 10px 30px;
}


h2, h3{
    font-family: 'Courier New', Courier, monospace;
    color: var(--darkest);
    margin: 10px;
}

h3{
    font-size: 1.2em;
}