main{
    padding: -10px;
    padding-bottom: 20px;
    margin: 0px auto;
}

#list-content li{
    display: flex;
    background-color: var(--light);
    margin: 10px;
    border-radius: 10px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 3px 3px var(--shadow);
    text-indent: 0px;
}

#list-content li:nth-child(even){
    flex-direction: row-reverse;
}

#list-content li img{
    width: 40%;
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
}

#list-content li:nth-child(odd)>img{
    border-radius: 10px 0px 0px 10px;
}

#list-content li:nth-child(even)>img{
    border-radius: 0px 10px 10px 0px;
}

#list-content li a{
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    
}
#list content li a:hover{
    padding: 20px 30px 20px 0px;
}

main>ul{
    list-style: none;
    margin: auto;
}

main h1{
    font-size: 2.5em;
    margin-bottom: 30px;
}

abbr:hover{
    background-color: var(--transparent);
}

p{
    margin-bottom: 30px;
}
